# Requirements 

## Operating system

The pipeline should run on most recent Linux systems (Debian, Ubuntu, ...) and MacOS x64. Installation on Windows is currently unsupported; on Windows systems, we recommend to install the software in a Virtual Machine running Linux.
